<!DOCTYPE html>
<html>
  <head>
    <title>Affichage utilisateur</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon" />
  </head>
  <header>
    <h1 class="entete">Bonjour {{.Username}}</h1>
    <img src="/static/css/utilisateurs2.png" />
    <time class="datesite">{{.Date_jour}}</time>
  </header>
  <body>
    <div class="login-container">
      <h2>Affichage de l'utilisateur {{.Username}}</h2>
      <div>Cette session expirera dans {{.Date_Expire}} secondes</div>

      <form action="/Index" method="post">
        <button id="subbtn" type="submit" class="bouton2">Valider</button>
      </form>
    </div>
    <div class="login-container">
      <div class="token">
        <div>Voici le token: {{.SToken}}</div>
      </div>
    </div>
  </body>
</html>
