<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon">
</head>
<header>
    <h1 class="entete" >Page en libre service</h1>
    <img src="/static/css/utilisateurs2.png">
  </header>
<body>
    <div class="login-container">
        <h2>Page en libre service</h2>
        <form action="/Login" method="post">
            <div>Bonjour vous n'êtes pas connecté(e) !</div>
            <button id="subbtn" type="submit" class="bouton2">Connexion</button>
        </form>
        <form action="/Register" method="post">
          <div>Bonjour vous pouvez vous enregistrer !</div>
          <button id="subbtn" type="submit" class="bouton2">Enregistrement</button>
      </form>
    </div>
    <div class="login-container">Contenu du site partie publique</div>
</body>
</html>