<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon" />
  </head>
  <body>
    <div class="login-container">
      <h2>Connection: entrez vos identifiant et mot de passe</h2>
      <form action="/LoginPost" method="POST" class="">
        <div class="part3">
          <label for="pseudo" class="part30">Username</label>
          <input
            type="text"
            id="pseudo"
            name="pseudo"
            class="part31"
            autofocus
            required
          /><br />
        </div>
        <div class="part3">
          <label for="passid" class="part30">Password</label>
          <input
            type="password"
            id="passid"
            name="passid"
            class="part31"
            required
          /><br />
        </div>
        <button type="submit" class="bouton2">Se Connecter</button>
      </form>
    </div>
  </body>
</html>
