<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon" />
  </head>
  <header>
    <h1 class="entete">Page en libre service</h1>
    <img src="/static/css/utilisateurs2.png" />
  </header>
  <body>
  <div class="login-container">
    <h1>Confirmation</h1>
    <p>Cette fonction n'est pas implémentée!</p>
    <form action="/Index" method="post">
      <button id="subbtn" type="submit" class="bouton2">Retour</button>
    </form>
    </div>
  </body>
</html>
